
extends /layout/itemLayout

block main

    #address-form.grid-form.py-5
        fieldset
            legend Please, enter your address
            div(data-row-span='2')
                div(data-field-span='1')
                    label Country
                    input(type='text')
                div(data-field-span='1')
                    label City
                    input(type='text')
            div(data-row-span='2')
                div(data-field-span='1')
                    label Street
                    input(type='text')
                div(data-field-span='1')
                    label Email
                    input(type='text')
        button.bl-desc__btn.my-5.js-stripe-checkout(
            data-item-id=item.id,
            data-item-name=item.name 
            data-item-price=item.price
            data-item-weight=item.weight
            data-item-url=item.url
            data-item-description=item.description
            data-item-quantity=1
            data-item-image=item.url + image 
        ) Proceed to checkout


    script.
        depp.require(['gridforms']);
       