extends layout

block main
    .container.narrow.blog.blog-single
        .columns.d-flex
            .column.col-9.col-lg-12
                .img
                    img.img__inside(src=author.img)
            .column.col-3.col-lg-12.post-title
                .post-body
                    block blog-title
                        h6.title
                .post-footer.d-flex
                    time.date #{date}
        .columns.post-content
            .column.col-9.col-lg-12.col-post-content
                .post-content__inside
                    block blog-content
            .column.col-3.col-lg-12.col-post-author
                .author
                    a.avatar(href='#')
                        img.avatar__inside(src=author.avatar)
                    .author__desc
                        a.link-primary.name(href='#') #{author.name}
                        p #{author.desc}