mixin postInfo(item)
    .post-info
        a
        != full_date(item.date, config.date_format)
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from, target='_blank', title=item.from)
                != __('translate_original')

mixin postTitle(title)
    if title
        != title
    else
        != __('untitled')

//- Index page
mixin posts()
    - page.posts.each(function (item) {
        .post(class='col-xl-4 col-md-4 col-lg-4 col-sm-6 col-12')
            .hover_handler
                h1.head_title
                    if item.link
                        strong
                            a(href=url_for(item.link) target="_blank")
                                +postTitle(item.link)
                        em.post_desc=item.desc
                    else
                        a(href=url_for(item.path))
                            strong
                                +postTitle(item.title)
                            em.post_desc=item.desc
                            

                .entry_point
                    !=item.content.slice(0, 200) + ' ...'
                    !=item.excerpt
                    a.read-more(href=url_for(item.path))
                        != __('read_more')
                    footer.post_footer!=full_date(item.date, config.date_format)
    - })


//- Post Page
mixin post(item)
    .container
        .row
            .single-post
                article.post-block
                    h1.post-title
                        != item.title
                    if item.photos
                        header.headgallery
                            each val in item.photos
                                .gallery
                                    img.imgGallery(src=val)
                    .row
                        .tag-box
                            include ../tag.pug
                    .row
                        .category-box
                            include ../category.pug
                    .post-content
                        != item.content
                    - var prev = page.prev ? page.prev.path : false;
                    - var next = page.next ? page.next.path : false;
                .paginator
                    if prev
                        a.prev(href=url_for(prev))
                            != __('prev_post')
                    if next
                        a.next(href=url_for(next))
                            != __('next_post')

//- Archive Page
mixin postList()
    .container
        .archive
            - var year = 0;
            - var change = false;
            - page.posts.each(function (item) {
                - var itemYear = date(item.date, 'YYYY');
                - change = year !== itemYear;
                - year = change ? itemYear : year;
                if change
                    h2.archive-year
                        != year
                .post-item
                    .row
                        .colm.col-xl-6
                            a.post-title-link(href=url_for(item.path))
                                +postTitle(item.title)
                        .colm.col-xl-6
                            +postInfo(item)
            - })