.bl-desc
    .bl-desc__title.font-weight-light.mb-5.text-capitalize #{item.name}
    .bl-desc__color.font-weight-bolder.mb-3 Color: 
        span.color-box
        .font-weight-normal.d-inline-block.pl-1.bl-desc--option #{item.color}
    .bl-desc__size.font-weight-bolder.mb-3 Size: 
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.ml-1.bl-desc--option S
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.bl-desc--option M
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.bl-desc--option L
        span.font-weight-normal.d-inline-flex.text-center.justify-content-center.align-items-center.px-2.bl-desc--option XL
    .bl-desc__size.font-weight-bolder.mb-3 Price: 
        .font-weight-normal.d-inline-block.pl-1.bl-desc--option #{item.price}
    button.js-stripe-checkout Click here to checkout

    a.d-inline-block.text-left.js-buy.bl-desc__btn.mt-5.snipcart-add-item(
        href='#', 
        data-item-id=item.id
        data-item-name=item.name 
        data-item-price=item.price
        data-item-weight=item.weight
        data-item-url=item.url
        data-item-description=item.description
    ) Buy
