doctype html
html(lang='en_US')
   head
      //-<script src="https://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      link(rel='amphtml', href='m.html')
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         let _start = Date.now()
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')
      link(href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700', rel='stylesheet')

      script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
      script(src='https://unpkg.com/axios@0.19.0-beta.1/dist/axios.min.js')

      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js')
      script(src= ROOT + 'assets/js/setup.js')

      style.
         .delayShowing { opacity: 0; }

      //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')
      script.
        var comment = '#{comment}'
        var image = '#{image}'
        var content_text = '#{content_text}'
        var title = '#{title}'

      title #{title}
      meta(name='description', content=content_text)

      // Schema.org markup for Google+
      meta(itemprop='name', content=title)
      meta(itemprop='description', content=content_text)
      meta(itemprop='image', content=image)

      // Twitter Card data
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:title', content=title)
      meta(name='twitter:description', content=content_text)
      // Twitter summary card with large image must be at least 280x150px
      meta(name='twitter:image', content=image)

      // Open Graph data
      meta(property='og:title', content=title)
      meta(property='og:type', content='article')
      meta(property='og:url', content='http://liz-blog-seo-test.s3-website-us-east-1.amazonaws.com')
      meta(property='og:image', content=image)
      meta(property='og:description', content=comment)

      block head2

   body

      //-manually include /layout/nav
      block top
         .pageBack(data-js-menu-highlight="blog")
            include ./nav
            .img-top.home.inner
               .pad
                  H1.flex.white.fLarge.fBod #{titleTop}

      #router
         block main

         include foot

      //- script.
      //-    function userSzSc() {
      //-       console.log('resize|scroll')
      //-    }
