doctype html
html(lang='en_US')
   head
      //-<script src="https://console.re/connector.js" data-channel="MY_NAME" id="consolerescript"></script>
      link(rel='amphtml', href='m.html')
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         let _start = Date.now()
      meta(charset='utf-8')
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover")
      link(rel='shortcut icon', href= ROOT + 'favicon.ico', type='image/x-icon')

      //- top css layout
      link(href=ROOT + 'assets/css/spectreTop.css', rel='stylesheet', type='text/css') 
      link(href=ROOT + 'assets/css/header.css', rel='stylesheet', type='text/css')

      script(src='//cdn.jsdelivr.net/npm/johnnydepp@0.0.4/dist/depp.min.js')
      script(src='//cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')

      script(src='//cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js')
      script(src= ROOT + 'assets/js/setup.js')

      style.
         .delayShowing { opacity: 0; }

      //-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

      title #{pageTitle}
      meta(name='description', content=content_text)

      //- Schema.org markup for Google+
      meta(itemprop='name', content=title)
      meta(itemprop='description', content=content_text)
      meta(itemprop='image', content=image)

      //- Twitter Card data
      meta(name='twitter:title', content=title)
      meta(name='twitter:description', content=content_text)
      meta(name='twitter:image', content=image)

      //- Open Graph data
      meta(property='og:title', content=title)
      meta(property='og:image', content=image)
      meta(property='og:description', content=comment)

      block head2

   body

      block top
         .header-wrap
            include ./nav

      #router
         .container
            block main
         include foot