extends /layout/layout-m

block main
   section.l-section-container
      .container
         .columns
            .column.col-11.col-mx-auto
               include:metaMD text.md
      .container.white-bg
         .columns
            .column.col-11.col-mx-auto
               .col-7.col-md-12.contact-form-wrap
                  contactus-comp(
                     emailjs_id=""
                     template_id="" 
                     service_id="gmail"
                     reply_to="reply_to"
                     from_name="from_name"
                     to_name= "Doe"
                     from_email= "email"
                     message_html= "message"
                     legend_title="For inquiries, please use the below submission form:")
            .column.col-11.col-mx-auto
               include:metaMD text2.md