link(rel='amphtml', href='m.html')
script.
    ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
    SNIPCART_API = '#{SNIPCART_ID}'

link(rel='shortcut icon', href= ROOT + 'favicon.ico', type='image/x-icon')

//- top css layout
link(href=ROOT + 'assets/css/styleTop.css', rel='stylesheet', type='text/css') 

script(src= ROOT + 'assets/js/loader.js')

meta(name='description', content=content_text)

//- Schema.org markup for Google+
meta(itemprop='name', content=title)
meta(itemprop='description', content=content_text)
meta(itemprop='image', content=image)

//- Twitter Card data
meta(name='twitter:title', content=title)
meta(name='twitter:description', content=content_text)
meta(name='twitter:image', content=image)

//- Open Graph data
meta(property='og:title', content=title)
meta(property='og:image', content=image)
meta(property='og:description', content=comment)

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script.
    //- Snipcart.api.cart.currency('usd');
