doctype html
html(lang='en_US')
   head
      include headFrag
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
      //- this website has 4 interactive effects
      link(rel='amphtml', href='m.html')
      link(rel='shortcut icon', href= '/assets/favicon.png', type='image/x-icon')

      meta(name='description', content=content_text)

      //- Twitter Card data
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:title', content=title)
      meta(name='twitter:description', content=content_text)
      //- Twitter summary card with large image must be at least 280x150px
      meta(name='twitter:image', content=image)

      //- Open Graph data
      meta(property='og:title', content=title)
      meta(property='og:type', content='article')
      //- meta(property='og:url', content='#')
      meta(property='og:image', content=image)
      meta(property='og:description', content=comment)

      //- get the images
      script(src= '/assets/js/loader.js')

      //- top css layout
      link(href='/assets/css/spectreTop.css', rel='stylesheet', type='text/css') 

      //- in case a page needs it:
      block head2

   body.delayShowing

      include navJBar

      .l-wrapper
         block main
         include foot

      script.
         function userSzSc() {
            console.info('resize|scroll')
         }
      
